<div class="container my-5">
    <h1 class="mb-3">Каталог</h1>
    <!-- <div class="table-responsive"> -->
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover row-border w-100 " *ngIf="catalog && catalog.length > 0">
            <thead >
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Reference</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Currency</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elem of catalog">
                    <td>{{ elem.id }}</td>
                    <td class="text-nowrap">{{ elem.reference }}</td>
                    <td>{{ elem.desc }}</td>
                    <td>{{ elem.price_wo_tax }}</td>
                    <td>{{ elem.currency }}</td>
                    <!-- ссылка на конкретный элемент-->
                    <td><a [routerLink]="['/catalog', 'edit', elem.id]"><i class="bi bi-pencil-square"></i></a></td>
                </tr>
            </tbody>
        </table>
    <!-- </div> -->
    <!--<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>-->
    <p *ngIf="!catalog || catalog.length == 0">Каталог пуст</p>
</div>