<app-sidebar></app-sidebar>
<div class="budget-page">
    <div class="container">
        <h1 class="budget__title">Новый расчет</h1>
        <div class="control-room">
            <div class="station">
                <div class="io-table__item" >
                    <div class="io-table__item-text">АРМ инженера АСУТП</div>
                    <input class="io-table__item-qty" type="number" placeholder = "0" aria-label="First name">
                </div>
                <img src="../../../assets/img/station.svg" alt="es-station">
            </div>
            <div class="station">
                <div class="io-table__item" >
                    <div class="io-table__item-text">АРМ оператора АСУТП</div>
                    <input class="io-table__item-qty" type="number" placeholder = "0" aria-label="First name">                
                </div>
                <img src="../../../assets/img/station.svg" alt="os-station">
            </div>
        </div>
    
        
        <div class="network">
            Терминальная шина
        </div>
    
        <div class="server">
            <div class="server-workstation">
                <img src="../../../assets/img/server-station.svg" alt="server-workstation">
            </div>
            <div class="io-table__item" >
                <div class="io-table__item-text">АРМ оператора АСУТП</div>
                <input class="io-table__item-qty" type="number" placeholder = "0" aria-label="First name">                
            </div>
        </div>
    
    
        <div class="network">
            Системная шина
        </div>
    <!--План: инпутом собираю все цифры, отправляю в бек с id и названием, там вычленяю делитель, делю и записываю в таблицу Configs с catalogID и в count кол-во штук-->
    <!--потом на отдельной странице выбираю BoundleID и по нему вывожу элементы с описанием из каталога и их кол-во-->
        <form #form="ngForm">
            <div class="io-table">
                <div class="io-table__item" *ngFor="let catalogElem of catalog let i = index;">
                    <div class="io-table__item-text">{{catalogElem.name}} </div>
                    <div class="io-table__item-text">{{catalogElem.desc}} </div>
                    <input class="io-table__item-qty" type="number" placeholder = "0" aria-label="First name" name="qty_{{i}}" [(ngModel)]="configArr[i].count"
                    [ngModelOptions]="{standalone: true}" (blur)="onInputBlur(i)">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addConfig()">Создать</button>
        </form>
    </div>
    <div>
        <label for="selectItems">Выберите элемент:</label>
        <select id="selectItems" [(ngModel)]="selectedItem" (change)="onChangeItem($event)">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
      </div>
      
</div>