<app-sidebar></app-sidebar>
<div class="config-page">
    <div>
        <label for="selectItems">Выберите элемент:</label>
        <select id="selectItems" [(ngModel)]="selectedItem" (change)="onChangeItem($event)">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
    </div>

    <table class="header-table">
      <tr>
        <th>Название модуля</th>
        <th>Количество сигналов</th>
        <th>Количество модулей</th>
      </tr>
    </table>

    <div class="io-table">
      <div class="io-table__item" *ngFor="let configElem of config">
          <div class="io-table__item-text">{{configElem.name}} </div>
          <div class="io-table__item-text">{{configElem.count}} </div>
          <div class="io-table__item-text">{{configElem.moduleCount}} </div>
      </div>
  </div>
  <a [routerLink]="['/configurator/configList', 'edit', 4]">Изменить</a>
</div>