.config-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;    
}


.config__info{
    display: flex;
    align-items: center;
    
}


.config__title{
    margin-right: 10px;    
}

.config-info-title {
    margin-right: 15px;
    font-weight: 500;
}


.config__title-input{
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
}

.version{
    max-width: 35px;
}

table{
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

table tr {
  padding: .15em;
}

thead tr{
    align-items: center;
    vertical-align: middle;
}

table th,
table td {
  font-size: 1em;
  padding: 1em;
  text-align: center;
}

thead th {
  font-size: 1.15em;
}

@media (max-width:1200px){

  table th, table td{
    padding: 0.5em;
  }

  .table th, table td{
    font-size: 1em;
  }

}

@media (max-width:1000px){

  table th, table td{
    padding: 0.2em;
  }

  .table th, table td{
    font-size: 0.8em;
  }

}

@media (max-width:770px) {

  table thead tr {
    display: none;
  }
  table tr {
    display: block;
  }
  table th, table td{
    padding: 0.5em;
  }
  table td{
    text-align:right;
    display: block;
    font-size: 0.9em;
  }
  table td::before{
    content: attr(data-title) ": ";
    float: left;
    font-weight: bold;
  }

}

a {
  text-decoration: none;
  color: white;
}

