
<form #form1="ngForm" (ngSubmit)="updateBoundlesDataList()">
<table class="header-table">
	<tbody>
		<tr>
			<th>Описание: <input class="io-table__item-text" [(ngModel)]="configHeader.Title" [ngModelOptions]="{standalone: true}" /></th>
			<th>Дата создания: {{configHeader.DateTime}}</th>
      <th>Ревизия: <input class="io-table__item-text" [(ngModel)]="configHeader.Revision" [ngModelOptions]="{standalone: true}" /></th>
		</tr>
	</tbody>
</table>
</form>

<table class="header-table">
  <tr>
    <th>Название модуля</th>
    <th>Количество модулей</th>
    <th>Описание</th>
    <th>Валюта</th>
    <th>Цена без НДС</th>
    <th>Цена с НДС</th>
    <th>Вендор</th>
    <th>Итого</th>
  </tr>
</table>

<div style="width:100%;height:30px;border:1px solid #000;text-align:center; background-color: #F7F7F8;margin-top:10px;">ПЛК</div>
<!--Таблица цпу и других модулей-->
<form #form2="ngForm" (ngSubmit)="updateBoundlesDataList()">
  <div class="io-table">
      <div class="io-table__item" *ngFor="let cpuElem of cpuElemsArr let i = index;">
          <div class="io-table__item-text">{{cpuElem.name}} </div>
          <input class="io-table__item-text" [(ngModel)]="cpuElem.count" [ngModelOptions]="{standalone: true}" />

          <div class="io-table__item-text">{{cpuElem.desc}} </div>
          <div class="io-table__item-text">{{cpuElem.currency}} </div>
          <div class="io-table__item-text">{{cpuElem.price_w_taxStr}} </div>
          <div class="io-table__item-text">{{cpuElem.price_wo_taxStr}} </div>
          <div class="io-table__item-text">{{cpuElem.vendorName}} </div>
          <div class="io-table__item-text">{{cpuElem.totalStr}} </div>

      </div>
  </div>

</form>

<form #form3="ngForm" (ngSubmit)="updateBoundlesDataList()">
  <div class="io-table">
      <div class="io-table__item" *ngFor="let configElem of configElemsArr let i = index;">
          <div class="io-table__item-text">{{configElem.name}} </div>
          <input class="io-table__item-text" [(ngModel)]="configElem.moduleCount" [ngModelOptions]="{standalone: true}" />

          <div class="io-table__item-text">{{configElem.desc}} </div>
          <div class="io-table__item-text">{{configElem.currency}} </div>
          <div class="io-table__item-text">{{configElem.price_w_taxStr}} </div>
          <div class="io-table__item-text">{{configElem.price_wo_taxStr}} </div>
          <div class="io-table__item-text">{{configElem.vendorName}} </div>
          <div class="io-table__item-text">{{configElem.totalStr}} </div>

      </div>
      <button type="submit" class="btn btn-primary">Изменить</button>
  </div>

</form>

<form #form4="ngForm" (ngSubmit)="updateBoundlesDataList()">
  <table class="header-table">
    <tbody>
      <tr>
        <th>Итого: {{configTotals.Total}}</th>
      </tr>
      <tr>
        <th>НДС: {{configTotals.PureNDS}}</th>
      </tr>
      <tr>
        <th>Итого с НДС: {{configTotals.TotalWithNDS}}</th>
      </tr>
    </tbody>
  </table>
  </form>
<!--<button type="submit" class="btn btn-primary" (click)="download()">Сформировать КП</button>-->
<button type="submit" class="btn btn-warning"> <a href='../../../assets/doc/KPdoc.docx' download>Сформировать КП</a>  </button>