<div class="sidebar-fixed position-fixed mt-2 pt-5">
    <!-- импорт меню -->
    <app-tree-menu></app-tree-menu>

    <!-- <div class="list-group list-group-flush">
      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Конфигуратор
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/configurator">Конфигуратор</a></li>
        <li><a class="dropdown-item" routerLink="/configurator/configList">Список конфигураций</a></li>
      </ul>
      <button class="btn btn-light dropdown-toggle mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Каталог
      </button>
      <ul class="dropdown-menu ">
        <li><a class="dropdown-item list-group-item-action list-group-item-light" routerLink="/catalog">Каталог</a></li>
        <li><a class="dropdown-item" routerLink="/catalog/add">Добавить элемент в каталог</a></li>
      </ul>
    </div> -->
</div>
